<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/527c4791-6cb6-44da-b777-66d5bd65bc57/resourcegroups/myResourceGroup/providers/Microsoft.Web/sites/ContractorFind2</ResourceId>
    <ResourceGroup>myResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://contractorfind2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>contractorfind2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ContractorFind2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ContractorFind2</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:dotnetappsqldbmattdbserver.database.windows.net,1433;Initial Catalog=ContractorFind2_db;User ID=matmacman@dotnetappsqldbmattdbserver;Password=China4U.S." Name="Data Source=tcp:dotnetappsqldbmattdbserver.database.windows.net,1433;Initial Catalog=ContractorFind2_db;User Id=matmacman@dotnetappsqldbmattdbserver;Password=China4U.S." />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ContractorFind.Models.ApplicationDbContext, ContractorFind" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dotnetappsqldbmattdbserver.database.windows.net,1433;Initial Catalog=ContractorFind2_db;User Id=matmacman@dotnetappsqldbmattdbserver;Password=China4U.S.</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>