@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Why this web app exists:</h3>

<br />

<p style="font-size: 14px">
    This web app is a fun project I did for my Internal Assesment project for IB Computer Science HL.
    The site is built using C# .Net Framework that gives homeowners a place to post renovations needing completion and gives a portal for contractors to make bids/quotes on the renovations.
    The web app uses authentication for multiple levels of access.
    The  project also demonstrates the use of Dapper ORM with SQL Tables held on Azure.
</p>

<p>
    Check out my other projects at: <a href="https://github.com/mattmorgan6">github.com/mattmorgan6</a>
</p>
<p>
    You can learn more about me at: <a href="https://www.linkedin.com/in/matt-morgan-dev">linkedin.com/in/matt-morgan-dev</a>
</p>

<p><br /><br />Developed by Matt Morgan for Marco Angeloni</p>
