@{
    ViewBag.Title = "Home Page";
}

<div id="content" style="background: url(@Url.Content("~/Content/Images/DarkNails.jpg")) no-repeat 50% 50%; background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;">
    
    <div class="container body-content">
        <div class="jumbotron" style="margin-top: 72px;">
            <h1>Home</h1>
            <p class="lead">Welcome to your place to find the right man for your job at the lowest price.</p>


            <a href="@Url.Action("Login", null, new { area = string.Empty, controller = "Account" }, Request.Url.Scheme)" class="btn btn-primary btn-lg">
                <span>Get Started</span>
            </a>

            <!-- <p><a href="~/Views/Home/Contact.cshtml" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>   -->

        </div>

        <div class="row" style="color: #ffffff;">
            <div class="col-md-4">
                <h2>Todo: UI information</h2>
                <p>
                    This informational paragraph can be updated easily and filled out so that it reflects the actual webpage.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Status</h2>
                <p>Currently the web app is still in development, but more information will be filled out and testing will be conducted.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>

    </div>


</div>
